/*
 * Copyright (C) 2015-2017 Variscite Ltd.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 */

/dts-v1/;

#include "imx6q.dtsi"
#include "imx6qdl-iris2.dtsi"

/ {
	model = "Variscite i.MX6 QUAD VAR-DART Smart Device Board";
	compatible = "fsl,imx6q-var-dart", "fsl,imx6q";

	gpio-keys {
		compatible = "gpio-keys";
		back {
			label = "Back";
			gpios = <&gpio4 26 1>;
			linux,code = <KEY_BACK>;
			gpio-key,wakeup;
		};
		home {
			label = "Home";
			gpios = <&gpio4 24 1>;
			linux,code = <KEY_HOMEPAGE>;
			gpio-key,wakeup;
		};
		menu {
			label = "Menu";
			gpios = <&gpio4 25 1>;
			linux,code = <KEY_MENU>;
			gpio-key,wakeup;
		};
	};
};

&cpu0 {
	operating-points = <
		/* kHz    uV */
		1200000	1350000
		996000	1250000
		852000	1250000
		792000	1175000
		396000	1175000
	>;
	fsl,soc-operating-points = <
		/* ARM kHz  SOC-PU uV */
		1200000	1275000
		996000	1250000
		852000	1250000
		792000	1250000
		396000	1250000
	>;
};

&ecspi1 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio5 17 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi1>;
	status = "okay";

	ksz9893: ksz9893@0 {
		compatible = "microchip,ksz9893";
		reg = <0>;
		spi-max-frequency = <40000000>;
		spi-cpha;
		spi-cpol;
		interrupt-parent = <&gpio4>;
		interrupts = <14 IRQ_TYPE_LEVEL_LOW>;
		status = "okay";
		ports {
			#address-cells = <1>;
			#size-cells = <0>;
			port@0 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <0>;
				label = "lan1";
			};
			port@1 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <1>;
				label = "lan2";
			};
			port@2 {
				#address-cells = <1>;
				#size-cells = <0>;
				reg = <2>;
				label = "cpu";
				ethernet = <&fec>;
				fixed-link {
					speed = <1000>;
					full-duplex;
				};
			};
		};
	};
};

&fec {
	phy-mode = "rgmii-id";
	phy-reset-duration = <10>;	/* 10ms reset duration (per KSZ9393R.pdf pg. 171) */
	phy-reset-post-delay = <1>;	/* >100us post-reset delay (per KSZ9393R.pdf pg. 171) */
	phy-supply = <&reg_usb_otg_vbus>;
	fixed-link {
		speed = <1000>;
		full-duplex;
	};
};

&ldb {
	status = "disabled";
	};

&mxcfb1 {
	status = "disabled";
};

&mxcfb2 {
	status = "disabled";
};

&mxcfb3 {
	status = "disabled";
};

&mxcfb4 {
	status = "disabled";
};

&sata {
	status = "disabled";
};
